/src-zxing-javase
/src-zxing-binaryqr
/src-zxing-core
/nfctools-api
/src-nfctools-ndef
/src-zxing-javase
/fork-nfctools-ndef-test
/fork-nfctools-p2p
/fork-nfctools-core
/fork-nfctools-api
/fork-nfctools-ndef
/fork-nfctools-ndef-test
/fork-nfctools-api
/src-zxing-binaryqr
/src-zxing-core
/src-zxing-javase
/fork-nfctools-ndef
/fork-nfctools-api
/fork-nfctools-core
/fork-nfctools-ndef
/fork-nfctools-p2p
/src-zxing-binaryqr
/src-zxing-core
/src-zxing-javase
/fork-nfctools-ndef-test
/fork-nfctools-api
/fork-nfctools-ndef
/src-zxing-javase
/zxing-binaryqr
/zxing-core
/fork-nfctools-core
/fork-nfctools-p2p
/zxing-binaryqr
/nfctools-ndef-test-resources
/nfctools-api
/nfctools-ndef
/nfctools-ndef-test
/output
/nfctools-ndef
/nfctools-ndef-test
/nfctools-ndef-test-resources
/nfctools-api
/nfctools-p2p
/nfctools-core
/src-zxing-javase
/zxing-binaryqr
/zxing-core
/bin
/nfctools-api
/nfctools-core
/nfctools-ndef
/nfctools-ndef-test
/nfctools-ndef-test-resources
/nfctools-p2p
/nfctools-core-test
